<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-language" content="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" href="/images/homeicon.svg">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
  </style>

</head>

<body class="bg-light">


  <!--Nav bar-->
  <nav class="navbar sticky-top navbar-expand-lg" id="navm">

    <a class="navbar-brand" href="#" id="navbrand">GK labs</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
      style="background-color: white;">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/" id="navlist">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="projects" id="navlist">projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="acheivments" id="navlist">acheivments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="members" id="navlist">people</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="news" id="navlist">news</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blogs" id="navlist">blog</a>
        </li>

      </ul>
    </div>
  </nav>
  <!--Nav bar-->


  <!--card-->
  <div class="container">
      <h2 class="text-center my-3" style="color: #EE0E0E;"><b>Projects</b></h2>
      
      <!-- Search form -->
      <div class="active-pink-3 active-pink-4 mb-4">
        <input class="form-control" id="anythingSearch" type="text" placeholder="Type something to search" aria-label="Search">
      </div>

      <div class="text-center text-lg-right">
        <a href="/createProject" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-plus-sign"></span> Create New Project
        </a>
      </div>
    

    <div class="row mt-4 mainDiv">


      <div class="card col-xl-4 col-lg-6 col-sm-9 col-xs-12 mb-4 px-0 shadow-lg mx-auto">
        <div class="card-header text-white text-capitalize pt-5 text-wrap"
          style="background: linear-gradient(to bottom right,#05a95b , #87e052 ); font-weight: 650; font-size: 25px;">
          Full Stack Websiye </div>

        <img src="/images/tmp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" style="font-weight: 550;">This is a Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Labore assumenda facilis ducimus, libero nam expedita omnis magni laudantium culpa obcaecati? wider
            card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <br>
          <p class="text-center">
            <span class="badge bg-primary text-white p-2 mb-1" style="font-weight: 600;font-size: 15px;">React</span>
            <span class="badge bg-danger text-white p-2 mb-1"
              style="font-weight: 600;font-size: 15px;">Web-devlopment</span>
            <span class="badge bg-secondary text-white p-2 mb-1" style="font-weight: 600;font-size: 15px;">React
              js</span>
            <span class="badge bg-warning text-black p-2 mb-1"
              style="font-weight: 600;font-size: 15px;">Javascripts</span>
            <span class="badge bg-info text-white p-2 mb-1" style="font-weight: 600;font-size: 15px;">Javascripts</span>
          </p>
          <br>
        </div>
        <div class="card-footer bg-white">
          <h5 class="card-title mb-1">Mentored by</h5>
          <h6 style="color: blue;">Jhon Moris</h6>
          <button class="btn btn-success col-12" type="button"><b>View Project</b></button>
        </div>
      </div>

      <div class="card col-xl-4 col-lg-6 col-sm-9 col-xs-12 mb-4 px-0 shadow-lg mx-auto">
        <div class="card-header text-white text-capitalize pt-5 text-wrap"
          style="background: linear-gradient(to bottom right,#05a95b , #87e052 ); font-weight: 650; font-size: 25px;">
          Full Stack Websiye </div>

        <img src="/images/tmp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" style="font-weight: 550;">This is a Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Labore assumenda facilis ducimus, libero nam expedita omnis magni laudantium culpa obcaecati? wider
            card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <br>
          <p class="text-center">
            <span class="badge bg-primary text-white p-2 mb-1" style="font-weight: 550;font-size: 15px;">React</span>
            <span class="badge bg-danger text-white p-2 mb-1"
              style="font-weight: 600;font-size: 15px;">Web-devlopment</span>
            <span class="badge bg-secondary text-white p-2 mb-1" style="font-weight: 550;font-size: 15px;">React
              js</span>
            <span class="badge bg-warning text-black p-2 mb-1"
              style="font-weight: 600;font-size: 15px;">Javascripts</span>
            <span class="badge bg-info text-white p-2 mb-1" style="font-weight: 550;font-size: 15px;">Javascripts</span>
          </p>
          <br>
        </div>
        <div class="card-footer bg-white">
          <h5 class="card-title mb-1">Mentored by</h5>
          <h6 style="color: blue;">Jhon Moris</h6>
          <button class="btn btn-success col-12" type="button"><b>View Project</b></button>
        </div>
      </div>


      <div class="card col-xl-4 col-lg-6 col-sm-9 col-xs-12 mb-4 px-0 shadow-lg mx-auto">
        <div class="card-header text-white text-capitalize pt-5 text-wrap"
          style="background: linear-gradient(to bottom right,#05a95b , #87e052 ); font-weight: 650; font-size: 25px;">
          Full Stack Websiye </div>

        <img src="/images/tmp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" style="font-weight: 550;">This is a Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Labore assumenda facilis ducimus, libero nam expedita omnis magni laudantium culpa obcaecati? wider
            card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <br>
          <p class="text-center">
            <span class="badge bg-primary text-white p-2 mb-1" style="font-weight: 600;font-size: 15px;">React</span>
            <span class="badge bg-danger text-white p-2 mb-1"
              style="font-weight: 600;font-size: 15px;">Web-devlopment</span>
            <span class="badge bg-secondary text-white p-2 mb-1" style="font-weight: 600;font-size: 15px;">React
              js</span>
            <span class="badge bg-warning text-black p-2 mb-1"
              style="font-weight: 600;font-size: 15px;">Javascripts</span>
            <span class="badge bg-info text-white p-2 mb-1" style="font-weight: 600;font-size: 15px;">Javascripts</span>
          </p>
          <br>
        </div>
        <div class="card-footer bg-white">
          <h5 class="card-title mb-1">Mentored by</h5>
          <h6 style="color: blue;">Jhon Moris</h6>
          <button class="btn btn-success col-12" type="button"><b>View Project</b></button>
        </div>
      </div>

    </div>
  </div>





  <!--footer-->

  <!--footer-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
</body>

</html>